/* FULL page override for unauthorized */
body,
html {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    height: 100%;
}

/* Center container */
.unauth-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.unauth-card {
    max-width: 520px;
    width: 100%;
    text-align: center;
}

.unauth-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}